@font-face {
	font-family: 'Campanella';
	src: url('../fonts/campanella.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/campanella.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/campanella.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/campanella.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/campanella.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/campanella.svg#campanella') format('svg'); /* Chrome < 4, Legacy iOS */
}